body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather',serif;
  color: #40514E;
}
h1{
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #66BFBF;
  font-weight: bold;
}
h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  padding-bottom: 10px;
}
h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}
p{
  line-height: 2;

}
hr{
  border-top: 6px dotted #ccf2f4;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;

}
a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}
a:hover{
  color: black;
}
/* TOP SECTION */
.container-fluid{
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.top-cloud{
  position: absolute;
  right: 300px;
  top: 40px;
}
.bottom-cloud{
  position: absolute;
  left: 25%;
  bottom: 300px;
}
/* MIDDLE */
.middle{
  margin: 100px 10px;
}
.profile-image{
  width: 20%;
}
.intro{
  width: 30%;
  margin: 40px auto 60px;
}
/* SKILL */
.skill-icon{
margin: 1px 15px ;
}
.skill-row{
  width: 50rem;
  margin: 100px auto 100px auto;
  text-align: left;
  padding: 1% 0 ;
}
.cod-icon{
  width: 25%;
  float: left;
  margin-right: 30px;
}
.chillie-icon{
  width: 25%;
  float: right;
  margin-left: 30px;
}
.container-xxl{
  background-color: #E4F9F5;
  position: relative;
  padding: 40px 2%;
}
.card-deck{
  padding: 0 10%;
}

.card-img-top{
padding-top: 6px;
height: 185px;
}

/* Bottom */
.contact-me{
  padding: 5% 0 0 0;
}
.bottom-container{
  background-color: #E4F9F5;
  position: relative;
  padding: 50px 0 30px;
  height: 160px;
}
.contact-message{
  width: 40%;
  margin: 40px auto 60px;
}
.footer-link{
  margin: 0 20px;
}
.copyright{
  font-size: 0.75rem;
      padding: 20px 0;
}
@media screen and (max-width: 992px) {
  #card {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  #card {
    width: 100%;
  }
}
